[user]
	name = <full name>
	email = <email address>
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[push]
	default = simple
[diff]
	algorithm = histogram
[fetch]
	prune = true
[rebase]
	autoStash = true
[alias]
	aa = add --all
	amend = commit --amend
	br = branch
	ci = commit
	co = checkout
	cp = cherry-pick
	di = diff
	ds = diff --stat=160,120
	po = push origin
	prune = fetch --prune
	rb = rebase
	ri = rebase -i
	sh = show HEAD
	st = status
	staged = diff --cached
	unstage = reset HEAD --
